<h1>New employee</h1>
Note that this form only shows 4 text fields -- first, last, home phone, and notes.<br />
<br />
This is because _form.html.erb senses if the record is persisted or not.<br />
<br />
The edit form is a place where you can change all fields.<br />
<br />
<%= render 'form' %>

<%= link_to 'Back', employees_path %>
