<h1>Listing categories</h1>

<div x-ng-app="NorthwindApp" x-ng-controller="CategoriesCtrl">

<table>
  <thead>
    <tr>
      <th>Category name</th>
      <th>Description</th>
      <th>Num products</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr x-ng-repeat="cat in categories track by $index">
      <td>{{ cat.category_name }}</td>
      <td>{{ cat.description }}</td>
      <td><a href="" x-ng-click="deleteCategory(cat.id);">Destroy</a></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Customers', customers_path %><br />
<%= link_to 'Employees', employees_path %><br />
<%= link_to 'Products', products_path %><br />

<hr />
<input type="text" x-ng-model="newCatName" /><br />
<textarea x-ng-model="newCatDescrip"></textarea><br />
<input type="button" value="Add Category" x-ng-click="createCategory(newCatName, newCatDescrip)" />

</div>
